.why-choose-us-root-container {
  background-color: rgb(17, 16, 18);
  height: 300px;
  display: flex;
  padding: 80px;
  column-gap: 100px;
}
.why-choose-sec {
  flex: 1;
}
.why-choose-left {
  padding-left: 30px;
  display: flex;
  align-items: center;
  border: 2px solid #66fcf1;
}
.why-choose-left-sec-contents {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
.why-choose-use-text {
  font-weight: bolder;
  line-height: 0px;
}
.why-choose-use-subtext {
  width: 300px;
  font-size: 16px;
}

.why-choose-mid,
.why-choose-right {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.why-choose-use-text {
  font-weight: bold;
}
.why-choose-mid-bottom,
.why-choose-mid-top {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.why-choose-img-container {
  margin-top: -20px;
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.why-choose-img {
  height: 30px;
  width: 30px;
  object-fit: cover;
  object-position: center;
}
.why-choose-headings {
  width: 260px;
  font-size: 25px;
}
.why-choose-left {
  transform: translateY(250px);
  transition: opacity 0.5s, transform 2.5s;
}
.why-choose-animate1 {
  transform: translateY(0px);
}
.why-choose-right,
.why-choose-mid {
  transform: translateY(100px);
  transition: opacity 0.5s, transform 2s;
}
.why-choose-animate2 {
  transform: translateY(0px);
}
